In [5]:
# Here we will be practicing about DataFrames in pandas
import pandas as pd
data={
    "Person":["Kartik","Diya","Jatin","Karma"],
    "Sleep_Hours":[8,8,10,11]
}

In [6]:
print(pd.DataFrame(data))

   Person  Sleep_Hours
0  Kartik            8
1    Diya            8
2   Jatin           10
3   Karma           11

In [7]:
print(pd.DataFrame(data).loc[1])

Person         Diya
Sleep_Hours       8
Name: 1, dtype: object