In [5]:
# Wroking with series and label Concepts
import pandas as pd
data=["Kartik","Diya","Rahul","Kunal","Vatsal"]
indexForData = [f"Person{idx + 1}" for idx, i in enumerate(data)]
data2={
    "Name":"Kartik",
    "Age":25,
    "Roll no":"22BCAN567"
}

In [7]:
myvar1=pd.Series(data,index=indexForData)
print(myvar1)

Person1    Kartik
Person2      Diya
Person3     Rahul
Person4     Kunal
Person5    Vatsal
dtype: object

In [8]:
myvar2=pd.Series(data2)
print(myvar2)

Name          Kartik
Age               25
Roll no    22BCAN567
dtype: object