In [3]:
import pandas as pd
# We have variety of date and time format
dates=['2017-01-05 2:30:00 PM','Jan 5, 2017 14:30:00','01/05/2017','2017.01.05','2017/01/05','20170105']

In [5]:
# Lets convert them to date and time format
pd.to_datetime(dates)

<ipython-input-5-476ef5f010a2>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [9]:
# Now we have Europe (dd/mm/yyyy) and US (mm/dd/yyyy) Date time
EuropeTime=pd.to_datetime('2017-05-01 00:00:00',dayfirst=True)
UsTime=pd.to_datetime('2017-05-01 00:00:00',dayfirst=False)
print("Europe Time:",EuropeTime)
print("US Time:",UsTime)

Europe Time: 2017-01-05 00:00:00
US Time: 2017-05-01 00:00:00

In [11]:
# Custom Formatted date
pd.to_datetime('2017$01$05',format='%Y$%m$%d')

Timestamp('2017-01-05 00:00:00')

In [12]:
# To convert Epoch time example - 1501356743 sec to date and time, then
pd.to_datetime(1501356743,unit='s')

Timestamp('2017-07-29 19:32:23')